LABEL sevenos
TEXT HELP
Boot the SevenOS live medium on BIOS.
It allows you to try or install SevenOS and run system maintenance.
ENDTEXT
MENU LABEL SevenOS Live (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash loglevel=3 rd.udev.log_level=3 systemd.show_status=false vt.global_cursor_default=0

# Accessibility boot option
LABEL sevenosspeech
TEXT HELP
Boot the SevenOS live medium on BIOS with speakup screen reader.
It allows you to try or install SevenOS and run maintenance with speech feedback.
ENDTEXT
MENU LABEL SevenOS Live (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on quiet splash loglevel=3 rd.udev.log_level=3 systemd.show_status=false vt.global_cursor_default=0
