@theme "sevenos.rasi"

window {
  width: 32%;
  border-color: #c47a3c;
}

listview {
  lines: 5;
}

entry {
  placeholder: "Seven Power";
}

message {
  background-color: #17212be8;
  border-color: #c47a3c66;
}
