@theme "sevenos.rasi"

window {
  width: 32%;
  border-color: #c4673a;
}

listview {
  lines: 5;
}

entry {
  placeholder: "Seven Power";
}

message {
  background-color: #1c1c26e8;
  border-color: #c4673a66;
}
