[Desktop Entry]
Type=Application
Name=Install SevenOS
Comment=Open the SevenOS graphical installer portal
Exec=seven-installer
Icon=seven-installer
Terminal=false
Categories=System;Settings;
