[Desktop Entry]
Type=Application
Name=Seven Terminal
Comment=Adaptive SevenOS terminal
Exec=seven-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=SevenTerminalNative
Keywords=SevenOS;workspace;console;
