[Desktop Entry]
Type=Application
Name=SevenOS Settings
Comment=Configure SevenOS desktop, security, profiles, devices and system runtime
Exec=seven-settings
Icon=seven-settings
Terminal=false
Categories=System;Settings;DesktopSettings;
StartupNotify=true
