[Desktop Entry]
Type=Application
Name=Seven Hub
Comment=SevenOS control center
Exec=seven-hub
Icon=seven-hub
Terminal=false
Categories=System;Settings;
