[Desktop Entry]
Type=Application
Name=Seven Files
Comment=Open the SevenOS file manager
Exec=seven-files open %U
Icon=org.gnome.Nautilus
Terminal=false
Categories=System;FileManager;Utility;
MimeType=inode/directory;application/x-gnome-saved-search;
StartupNotify=true
