[Desktop Entry]
Type=Application
Name=Seven Hub
Comment=SevenOS control center
Exec=seven-hub
Icon=utilities-system-monitor
Terminal=false
Categories=System;Settings;
