[Desktop Entry]
Type=Application
Name=Seven Hub
Comment=Control center for your SevenOS
Exec=seven-hub-native
Icon=seven-hub
Terminal=false
Categories=System;Settings;
StartupNotify=true
